[submodule "www"]
	path = www
	url = https://github.com/binaryage/www.git
[submodule "blog"]
	path = blog
	url = https://github.com/binaryage/blog.git
[submodule "support"]
	path = support
	url = https://github.com/binaryage/support.git
[submodule "totalfinder-web"]
	path = totalfinder-web
	url = https://github.com/binaryage/totalfinder-web.git
[submodule "totalterminal-web"]
	path = totalterminal-web
	url = https://github.com/binaryage/totalterminal-web.git
[submodule "asepsis-web"]
	path = asepsis-web
	url = https://github.com/binaryage/asepsis-web.git
[submodule "firequery"]
	path = firequery
	url = https://github.com/binaryage/firequery.git
[submodule "firelogger"]
	path = firelogger
	url = https://github.com/binaryage/firelogger.git
[submodule "firerainbow"]
	path = firerainbow
	url = https://github.com/binaryage/firerainbow.git
[submodule "xrefresh"]
	path = xrefresh
	url = https://github.com/binaryage/xrefresh.git
[submodule "totalspaces-web"]
	path = totalspaces-web
	url = https://github.com/binaryage/totalspaces-web.git
[submodule "visor"]
	path = visor
	url = https://github.com/binaryage/visor.git
